<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">masterkoders</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@project-playbook.cytep8yn5pok.us-east-1.rds.amazonaws.com:1521:ORCL</property>
        <property name="hibernate.connection.username">kawaii</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
       <property name="hibernate.show_sql">true</property> 
        <mapping class="com.revature.kkoders.beans.UserImpl"/>
        <mapping class="com.revature.kkoders.beans.GamePlanImpl"/>
        <mapping class="com.revature.kkoders.beans.GameImpl"/>
        <mapping class="com.revature.kkoders.beans.DailySessionImpl"/>

    </session-factory>
</hibernate-configuration>